.box
{
    height:100px;
    width:300px;
    background-color: pink;
    animation: colorAnimation 2s ease-in 3s infinite alternate;
}

@keyframes colorAnimation
{
    0%
    {
        background-color: aqua;
    }
    25%
    {
        background-color: yellowgreen;
    }
    50%
    {
        background-color: hotpink;
    }
    75%
    {
        background-color: blue;
    }
    100%
    {
        background-color: red;
    }
}
