.container
{
    height:300px;
    width:600px;
    border:2px solid black;
    display:grid;
    grid-template-rows:repeat(5,1fr);
    grid-template-columns:repeat(3,1fr);
    /*justify-items:center;
    align-items:center;
    */
    place-items:end;


}
.item
{
    height:50px;
    width:50px;
    background-color: greenyellow;
    border:2px solid black;
}
/*#one
{
    grid-column-start: 1;
    grid-column-end:4;
}
#two
{
    grid-row-start:1;
    grid-row-end:3;
}
    */
#one
{
    justify-self:start;
}