.container
{
    width:600px;
    height:300px;
    border:2px solid black;
    display:grid;
    grid-template-rows:repeat(5,1fr);
    grid-template-columns:repeat(3,1fr);
    row-gap:10px;
    column-gap: 30px;;

}
.item
{
    /*height:50px;
    width:100px;
    */
    background-color: greenyellow;
    border:2px solid black;
    text-align: center;
}