#card
{
    height:200px;
    width:200px;
    border:2px solid black;
    display:inline-block;
    margin:20px;
    border-radius:20px;
    box-shadow:0px 4px 6px black;
    transition:2s;
}
#desc
{
    padding:0 2px 0 2px;
}
img
{
    height:50%;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;;
}
#card:hover{
    box-shadow:0px 8px 12px goldenrod;
}