
.h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .h2 {
    
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight:400px;
    font-style: normal;
  }
  

