#card
{
    height:200px;
    width:200px;
    border:2px solid black;
    text-align:center;
    margin:10px;
}
#profile
{
    height:50px;
    width:50px;
    border:2px solid black;
    border-radius:50%;
    margin:auto;
    color:white;
    text-align: center;
    background-color:aqua;
}