h1{
    text-decoration:underline;
    letter-spacing: normal;
}
h2{
    
    text-decoration:blue overline;
}
h3{
    text-decoration:red wavy underline;
    letter-spacing: 10px;
}
h4{
    text-decoration:aqua dotted overline;
}
a{
    text-decoration:none;
}
p{
    text-align:center;
    line-height: 5;
    font-family: Fantasy,Bodoni MT;
}