h1{
    text-align: center;
}
#container
{
    height:1200px;
    width:80%;
    border:2px solid black;
    margin:10px auto;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    /*flex-wrap: wrap;*/
    
}
#container div{
    height:500px;
    width:100px;
}

#orange
{
   /*flex-basis:300px;*/
   flex-grow:1;
}
    