#container
{
    height:400px;
    width:400px;
    border:2px solid #000000;
    border-radius:10px;
    margin:10px auto;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
}
#container div{
    background-color: grey;
    height:100px;
    width:100px;
    font-size:50px;
    border-radius:10px;
    border:2px solid black;
    text-align:center;
}